[2017-10-04 04:57] sunnykinger opened #1 "Wifi State Change Callback"
Can't we have some callback method that can give us wifi state change status?

[2017-10-04 06:55] ThanosFisherman commented on #1
Yes I was thinking about it too. Since this library already monitors wifi state, I will probably expose those constants in callback at the next release.

[2017-10-16 06:12] libinll opened #2 "if the wifi ssid has configed before,can I use the method"
if the wifi ssid has configed before,can I use the method  " connectWith(SSID, "") " without password?
Must I use method  connectWith(SSID, "password") ?

[2017-10-16 21:42] ThanosFisherman commented on #2
No you must always use the correct WiFi password string even if there's an already configured network because this library will clear the previous configuration on Androids < 6.0 and create a new one from scratch where possible. See [this](https://github.com/ThanosFisherman/WifiUtils/blob/067f570086d783905563154518d930cbf220bfc7/wifiutils/src/main/java/com/thanosfisherman/wifiutils/ConnectorUtils.

[2017-10-18 01:40] libinll commented on #2
You first clean the previous configuration before use the method 'connectToconfiguredNetWork'.Whatever  Androids < 6.0,it will clean the previous configuration.
Maybe we can clean the previous configuration after the network connect failed.
We do not need user to input password  when the network has configed.

[2017-10-18 22:17] ThanosFisherman commented on #2
Is there any particular reason why you'd want to use an empty password String? Is it because you don't know the password in the first place but want to force WiFi to connect to that specific configured network?

Anyhow I will look into it when I find some time. Maybe there's indeed no need to clear the previous configuration and make a new one every time. In the meantime feel free to make a pull r

[2017-11-20 08:18] ThanosFisherman commented on #2
As of release 1.3.4 you can now enter an empty password string `""` This will make the lib look for an existing network configuration to connect to. If there is none, it will proceed as normal but probably fail unless the hotspot doesn't require authentication.

[2017-11-25 12:12] #2 closed

[2018-01-22 10:38] ravirajjak opened #3 "File Sharing as well chat"
How to send file using your library

[2018-01-26 10:29] vsarnataro opened #4 "Error when i try compile"
![screenshot 1](https://user-images.githubusercontent.com/11519353/35435731-15bcdcce-028c-11e8-9aff-a21485b9ed20.png)

[2018-01-26 11:26] ThanosFisherman commented on #3
This is not an http networking library so there is no file transfer or chat features.

[2018-01-26 11:26] #3 closed

[2018-01-26 11:27] ThanosFisherman commented on #4
I don't know what you are trying to do but this error is not related to this lib. Plus I see some kotlin classes in there. I'm not using kotlin in this library.

[2018-01-26 11:34] vsarnataro commented on #4
I use java lib without problems in my kotlin project so I don't think is kotlin problems

[2018-01-26 13:10] ThanosFisherman commented on #4
@vsarnataro You probably need to add the following in your app level build.gradle file:
[code]
Then try cleaning and Rebuilding the project. Also it would be a good idea to update your kotlin dependency and AndroidStudio kotlin-plugin to latest (`1.2.21`)

[2018-01-29 09:03] #4 closed

[2018-02-05 18:40] arislomovic opened #5 "ConnectionSuccessListener always returns successful"
I tried connecting a lot with incorrect passwords, and isSuccessful never comes back as false.

[2018-02-06 08:50] ThanosFisherman commented on #5
I will have a look at it. Sometimes false positives may occur but it is something I've been trying to mitigate. Feel free to contribute if you come up with a solid solution.

[2018-03-06 07:47] imouyanghuan opened #6 "Please add new feature to connect hotspot which is not password."
1. Add new feature to connect hotspot which is not need password.
2. Please add wifi connecting status to do callback, actually we need update UI to show WiFi status. For example ,to tell users we are connecting ,we has saved password, we have disconnected, the password is not correct and so on.
3. Find bugs that I connect WiFi hotspot at once,  this success connected callback function has execute

[2018-03-07 17:55] gabrielmleo opened #7 "Activity has leaked IntentReceiver"
Hello man, first of all , congrats for lib, it's very helpful.
I have a problem when perform a search or enable wifi. If I perform these operations a bit faster I catch a leak error, here is the stack trace:

` Activity com.example.wificonnectionmanager.view.wifilist.WifiListActivity has leaked IntentReceiver com.thanosfisherman.wifiutils.wifiScan.WifiScanReceiver@3d4faf that was originally regist

[2018-03-07 18:24] gabrielmleo commented on #7
I Think I discovered the problem, in Activity when I call one of WifiUtils methods, instead of pass applicationContext I was passing "this" ( activity context instance ), I just change this and leak stopped.

[2018-03-07 18:36] #7 closed

[2018-03-07 18:44] ThanosFisherman commented on #7
Hey. Good to know you have worked this around, I'll have a look anyways during the next couple of days in case I missed something but yeah passing `this` instead of `getApplicationContext()` is prone to memory leaks.

[2018-04-06 13:27] ArisChoice opened #8 "transformClassesWithMultidexlistForDebug while compiling"
Error:Execution failed for task ':app:transformClassesWithMultidexlistForDebug'.

[2018-04-06 17:05] ThanosFisherman commented on #8
I'm not sure how your issue is related to this lib? Please provide some more info. Also make sure your multidex support is configured correctly. (If it's needed at all).

[2018-04-06 22:59] #5 closed

[2018-04-09 07:05] ArisChoice commented on #8
**On using:** compile 'com.thanosfisherman.wifiutils:wifiutils:1.3.5'. I am using latest one .
 On compiling my project i  am receiving above error.
----------------------------------
**But on using:**   compile 'com.thanosfisherman.wifiutils:wifiutils:1.3.3'  every thing is ok.
but receiving this error on android version 4.4.2. Is there any solution to fix this plz

 `04-09 12:29:03.298 19789-197

[2018-04-24 18:01] v2kb2l opened #10 "Callback for timeout in method .connectWithScanResult()"
#### Short Description
Need a callback for timeout, Then chance to reconnect based on option available. Provide callback for timeout.
Give a brief description of what the issue is
Need a callback for timeout, Then chance to reconnect based on option available. Provide callback for timeout.
##### Steps to reproduce

What are the steps to reproduce the issue? Post some code if possible.

##### Resul

[2018-05-02 12:40] leohan1992 opened #11 "About connect to open wifi"
1.connect to an open wifi ,set password empty string "",it success
2.forget the wifi by system
3.redo step 1,it will connect time out.
wifi log
05-02 20:31:53.980 7382-7382/com.sunvua.android.frigg D/WifiUtils: WifiUtils: WIFI ENABLED...
    WifiUtils: WIFI ENABLED...
    WifiUtils: START SCANNING....
05-02 20:31:53.980 7382-7382/com.sunvua.android.frigg D/WifiUtils: WifiUtils: START SCANNING....

[2018-05-29 18:58] desuto opened #12 "New logo/icon"
Hi, I am a graphic designer, I want to help others in graphic design.

After I reviewed your project, you have no logo on this project. Therefore I want to contribute to this project by creating a new logo / icon. what do you think?

[2018-05-29 23:12] ThanosFisherman commented on #12
Hello @desuto
That sounds like a great idea. Feel free to contribute with an icon/logo. You can fork the project and make the appropriate changes in `development` branch. Let me know if you need any help with this.

[2018-06-18 18:49] fukemy commented on #1
Hello.  Thanks you for great library.
 I am developing application that connect to hotspot then using socket to communicate with hardware, that's post is important to detect when network is break or something similar...
 Now is 2018, does this project support this?

[2018-06-19 07:32] ThanosFisherman commented on #1
Hello @fukemy
This library helps you indeed connect to hotspots but it doesn't monitor connectivity changes. You will need to implement this yourself.

[2018-06-19 09:45] zKesten opened #13 "Crash when trying to connect to secure network with no password"
06-19 12:45:02.837 21530-21530/com.roboteam.teamy.usa E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.roboteam.teamy.usa, PID: 21530
    java.lang.RuntimeException: Error receiving broadcast Intent { act=android.net.wifi.SCAN_RESULTS flg=0x4000010 } in com.thanosfisherman.wifiutils.wifiScan.WifiScanReceiver@c0dcff7
        at android.app.LoadedApk$ReceiverDispatcher$Args.run(LoadedApk.jav

[2018-06-20 02:51] fukemy opened #14 "error handling"
hello. After used your library. I am confusing that how to implement error handling when connect to hotspot. May be connection fail ( for some reason). So i want to get this exception.
 Plz help me how to implement that? Thanks you

[2018-07-31 20:29] desuto commented on #12
I have design logo for this project. do you like it ? what do you think ?

![wifiutils](https://user-images.githubusercontent.com/39637790/43485283-00297e70-953b-11e8-8e5e-cbbdc7b2f8a8.png)

Sorry for a long time. I'm just a little busy.

[2018-10-21 12:04] gamebrina commented on #13
Same here. Happens when connecting to a known unprotected wifi, but doesn't happen everytime. I think it happens after at least one try. For me it's ConfigSecurities.java:120

Some analysis:
Line com.thanosfisherman.wifiutils.ConfigSecurities.getWifiConfiguration(ConfigSecurities.java:120) looks like
if (bssid.equals(config.BSSID) || ssid.equals(config.SSID)) {
but bssid is null and bssid is confi

[2018-10-22 07:16] ThanosFisherman commented on #13
Hello guys. A few people told me about this but I can't reproduce it on my device. I think it might be hardware specific issue but I will apply on a defensive fix anyways.

@gamebrina thank you very much for your contribution. I will proceed on a  merge soon.

[2018-10-22 19:02] ThanosFisherman commented on #13
I published a new version 1.4.0 that hopefully fixes NPE Crashes.

I'm just gonna leave this issue open for a while in case any related errors come up.

[2018-10-29 03:03] hhhaiai opened #19 "can you support proxy connect to some wifi?"
can you support proxy connect to some wifi?

[2018-10-29 09:29] ThanosFisherman commented on #19
This is not in the to-do list at the moment but if there is high demand then I could investigate it.

I'm also open to contributions btw.

[2018-10-29 10:02] hhhaiai commented on #19
是否可以提供思路。android 8以下我已经可以使用。8和以上的不能用

[2018-10-29 10:13] hhhaiai commented on #19
can you show the method.  blow the android 8, already can use proxy. 8 androd above has no idea.

[2018-10-29 10:35] ThanosFisherman commented on #19
This library does not support connecting to WiFis with a proxy out of the box.

I am not even sure how you do it below Android 8 as you say, but I have no idea as well.

I may look into it at some point in the future though.

[2018-10-29 10:47] hhhaiai commented on #19
okey..

[2018-10-31 02:36] #19 closed

[2018-11-04 11:01] moosabaloch opened #20 "Is there any method to check the current connected WiFi SSID ?"
Is there any method to check the current connected WiFi SSID ?

[2018-11-04 11:07] ThanosFisherman commented on #20
Hi,
No currently there is not because that's a job of WifiManager anyway but I could add a convenient method for this I suppose.

[2018-12-11 07:28] wotoutengleha opened #21 "Connect WiFi to adapt Android8.0?"
Android8.0  Changed the framework

[2018-12-20 12:56] JacquesIbisul commented on #21
scan result doesn't work for me in android 8

[2018-12-22 07:07] Onkarn92 commented on #20
+1 for this

[2018-12-28 12:55] ArslanYasin opened #22 "WifiUtils.withContext(context).connectWith(networkSSID, networkPass) in background service/thread"
Hello,
I am facing a small issue with WifiUtils in background service. I want to connect with wifi when my app is running in background but enable to connect. My background service is running and trying to connect with wifi but not getting any response in onConnectionResult..

[2018-12-28 16:58] ThanosFisherman commented on #22
Hi

I haven't tested the library in a background service so I can't think of
what could be wrong. Maybe it is the background service limitations of
Android itself. I will have a look as soon as I find some time.

On Fri, Dec 28, 2018, 1:55 PM Arslan Yasin <notifications@github.com wrote:

[2018-12-31 05:51] ArslanYasin commented on #22
Hi,
Thank you for your reply. Yes may there are limitations of android. Can you please check this soon and let me know the solution for it?
THanks

[2019-01-07 08:21] felangga opened #23 "UnknownHostException after switch WIFI"
Hello, after I switch to another WiFi (with internet connection) and make a connection to my server, it show an error
java.net.UnknownHostException: Unable to resolve host "xxxx": No address associated with hostname

But when I closed my apps and open via browser, the address is accessible.
Any suggestion ?

[2019-03-16 17:21] Akefhabbal opened #25 "How to Connect to Hidden Wi-Fi Network?"
Please let us now if your library is able to connect to a hidden Wi-Fi network and if there is a code snippet on how to do it.

[2019-03-20 08:32] ThanosFisherman commented on #25
I haven't tested the library with a hidden WiFi network. This might require some modifications in the source code now that I'm thinking of it.

[2019-03-20 09:53] Akefhabbal commented on #25
Thanks for considering my request.

[2019-03-26 09:27] paolorotolo commented on #21
@ThanosFisherman Any update on this? We're relying on this library for ```headless-wifi-manager``` and some users are reporting something relevant to this issue on Android 8.0: https://github.com/wideverse/headless-wifi-manager/issues/1

[2019-03-26 11:08] ThanosFisherman commented on #21
Hello guys. I completely overlooked this issue due to lack of time.

I have no problems whatsoever connecting to a WiFi network via my phone which runs Android 9.0 vanilla. Network scanning also works normally.

I noticed that connecting programmatically to WiFi networks doesn't always work reliable across different devices and this is an issue I can't/don't know how to fix.

Additionally the WiFi

[2019-03-26 18:48] paolorotolo commented on #21
Our users have an empty ScanResult list from a scan on Android 8.0.

[2019-03-26 18:59] ThanosFisherman commented on #21
@paolorotolo as far as I know this a known issue which occurs when GPS/Location data are disabled.

https://issuetracker.google.com/issues/37060483

Unless your users have location data turned off then I can't think of anything else that might be causing this issue. I'll have to investigate it.

[2019-03-26 19:07] paolorotolo commented on #21
Thanks, I've asked our user to test with localization services on. I'll let you know soon.

[2019-04-02 18:20] Akefhabbal opened #26 "Cannot connect to a Wi-Fi network which the phone is already connected to it"
If the device is already connected to a Wi-Fi then when we try to send connect to the same Wi-Fi the device  disconnects from this network but cannot connect to it again and the callback of connect method return error.

[2019-04-17 10:46] alfredotranchedone commented on #21
I confirm empty ScanResult list issue also on Android 7.0 when GPS is disabled.

Enabling the GPS solves the problem.

[2019-05-16 06:44] MujeeSalpo opened #27 "Android 7.0 Connectivity issue"
Hi. When I use a device with android 7.1.1 it connects successfully but with a device having an OS version 7.0 it does not connect.. Any advice regarding this please. Location service is enabled.

[2019-05-21 19:51] Edris89 opened #28 "Working on android 8"
Can't use the library. After clicking run in android studio it throws a error.
Big one....

[2019-05-23 05:58] aMujeeb commented on #27
Hi, Any updates about connecting to hidden wifi networks also ?

[2019-06-02 20:16] rschlund opened #29 "mWifiManager.startScan() returns false"
This call in WifiUtils.java line 88 returns true, when i load WifiUtils from Github and run:

    private void connectWithWpa() {
        WifiUtils.withContext(getApplicationContext()).scanWifi(this::getScanResults).start();
    }

    private void getScanResults(@NonNull final List<ScanResult> results)
    {
        if (results.isEmpty())
        {
            return;
        }
    }

When I run

[2019-06-07 10:48] ThanosFisherman commented on #29
Hello,
Make sure your location services are turned on as far as I know this a known issue which occurs when GPS/Location data are disabled.
https://issuetracker.google.com/issues/37060483

There's also been a discussion on this thread https://github.com/ThanosFisherman/WifiUtils/issues/21

[2019-06-18 23:42] ElementOxygenWady opened #30 "Working on android 9"
Android 8.0 (API level 26) introduced restrictions regarding permissions and the allowed frequency of Wi-Fi scans.

To improve network performance, security, and battery life, Android 9 (API level 28) tightened permission requirements and further limited the frequency of Wi-Fi scans.

[Reference](https://developer.android.com/guide/topics/connectivity/wifi-scan)

[2019-07-06 06:10] AndroidDeveloperLB opened #31 "Is it possible to add and connect a Wifi network when targeting Android Q?"
Seems it's not possible anymore:
https://stackoverflow.com/q/56905956/878126
https://issuetracker.google.com/issues/130542363

Is it true?
Is there at least a solution for rooted devices?

[2019-07-06 10:04] ThanosFisherman commented on #31
Thanks for the links. I haven't tested this library on Android Q but reading up on the links it seems that it introduces API changes that won't really help address the auto connect feature.

I'm afraid this library won't work as intended on Android Q but I'm willing to try a few workarounds as soon as I get an Android Q device in my hands.

[2019-07-06 10:18] AndroidDeveloperLB commented on #31
Do you know of a way to add a network on a rooted device, perhaps?
A way that should work even on Android Q ?
The new API seems to only suggest to add the networks. I've noticed a notification that appears when I do it, but it appears after quite a while, and on some cases doesn't appear at all.

You can try the new API already , on an emulator. Sure it's not the same, but it's a start...
You can

[2019-07-06 17:04] ThanosFisherman commented on #31
I think there should be a way to do it on a rooted device by utilizing commands from wpa_cli file but I haven't look into it.

Regarding the new API I also think it is a bug. I will try to run your code when I find some time.

[2019-07-06 21:07] AndroidDeveloperLB commented on #31
Yes, please investigate it. I hope you will find a way to add a network, even if it requires root...

[2019-07-16 00:58] laujiangtao opened #32 "WiFi will be switched automatically on the pixel system version of Android 9.0"
Switch to the new WiFi and within 30 seconds, it automatically switches back to the original WiFi.

[2019-07-26 09:15] hzl123456 opened #33 "How to connect to WPA_EAP with MSCHAPV2 WIFI"

[2019-07-29 12:42] rschlund opened #34 "Handling configuration changes"
Is it possible to stop running connection attempts or wifi scans, when a configuration change happens in my app? Because as fragments are destroyed on configuration changes, running wifi tasks return to an invalid environment and my app crashes.

[2019-08-08 09:04] ravikarthi opened #35 "Connect wifi without password"
Is there any possibility to connect to wifi-network without password with this library

[2019-08-08 10:52] PembaTamang opened #36 "not working in android P"
Not working in api 29

[2019-08-28 09:52] yungelee commented on #36
bad code, like a shit

[2019-08-28 10:12] ThanosFisherman commented on #36
Do not open Duplicate issues. Refer to issue #30
And @yungelee  let me see you do better.

[2019-08-28 10:12] #36 closed

[2019-09-02 02:56] suijunqiang opened #37 "Is there anyway to get scan wifi result in other format?"
Hello,

Is there anyway to get wifi scan result in other format?
Currently your lib return a string but hard to parse into Json or other format, so it's not easy to show the results as ListView on the Android UI.

Thanks & Best Regards
Sui
2019-09-02

[2019-09-02 03:36] suijunqiang commented on #37
for more detail the scan results is "Parcelable" list.

[2019-09-02 07:06] ThanosFisherman commented on #37
Scan results are returned in a `List<ScanResult>` Just like the normal Android WiFi scan. I don't see any spacial difficulty to parse those into JSON format. What other formats would you recommend?

[2019-09-02 07:36] suijunqiang commented on #37
@ThanosFisherman
First of all, thanks for sharing your amazing project & such quick response.
I commandant to use JSON, would you please give me demo code in your example?

Thanks & Best Regards
Sui

[2019-09-02 07:41] ThanosFisherman commented on #37
Have a look at the README file [here](https://github.com/ThanosFisherman/WifiUtils#scanning-for-wifi-networks)

[2019-09-02 08:06] suijunqiang commented on #37
@ThanosFisherman
Yep, I see you have demo in the section of Scanning for WiFi Networks, in fact it has been contained all information that what I need..
How ever, I need some items such as SSID/BSSID/Level and try to show them on the UI, and it seems hard to extract  from ScanResult.

Thanks anyway.
Sui

[2019-09-16 18:15] aparecidoSilvano opened #38 "Many requests to give permissions to change the WiFi connectivity on Xiaomi devices."
Because of the algorithm that disables all other networks, in Xiaomi devices we have an issue because for each network the system will ask the user to consent permissions to change the Wi-Fi connectivity. Unless the user goes to the settings and concedes this permission permanently, Anyone knows a way to lead with this?

[2019-09-16 18:16] aparecidoSilvano commented on #35
Yes, you can just pass an empty String as the password.

[2019-09-16 19:28] ThanosFisherman commented on #38
I also have a Xiaomi device but I'm not sure I understand what you mean. As long as the WiFi is already turned on, there won't be any further permission restrictions. But yes if the WiFi is off You will be prompted to turn it on.

[2019-09-19 17:26] aparecidoSilvano commented on #38
Hey, thanks for the answer. Please, I put a little movie showing the behavior that I tried to explain. Maybe It is a behavior for Xiaomi with Android 9, but I couldn't find a way to fix this problem.

https://drive.google.com/file/d/1_xW15b9PSOzco9RmKtjqgpO0Z0Cqsw9m/view?usp=sharing

[2019-09-20 07:34] ThanosFisherman commented on #38
Thanks for the video I understand now.

This particular WiFi dialog also shows up on my Redmi Pro running Android 6 but once I grant the permissions in goes away.

Maybe there is an issue in newer Xiaomi devices that use MIUI. I really don't know how to fix it unless I get such a device in my hands but I'm gonna investigate it nontheless.

[2019-09-20 16:33] aparecidoSilvano commented on #38
I noticed that the problem happens on the method 'disableAllButOne' of ConnectorUtils class, in which the system will ask permissions for each WifiConfiguration that will be modified.

I understand that the best solution would be asking the user to consent this permission permanently, but I couldn't find in Xiaomi documentation something about how to check and ask this permission programmatically.

[2019-09-23 08:59] oy-paddy commented on #38
@aparecidoSilvano @ThanosFisherman Can refer to this：https://blog.csdn.net/u014632228/article/details/101207983

[2019-09-27 21:29] zacwolfe opened #39 "WifiManager.saveConfiguration() returns false >= API 26"
This method was deprecated in API 26 and always returns false, causing ConnectorUtils.connectToWifi() to fail. Please remove this call as it is no longer necessary.  Thanks!

[2019-10-14 21:19] rtviwe opened #40 "Not connecting on Oreo and above"
I am connecting to wifi with its name and password
[code]

[2019-10-23 19:28] demondayza commented on #21
Can confirm asking for gps permissions fixed the issue.

[2019-10-27 19:27] ThanosFisherman commented on #39
If you look at the android source code this method always returns true therefore it doesn't affect the connection flow. I will keep this for backwards compatibility issues.

[2019-10-27 19:27] #39 closed

[2019-10-29 12:28] IT-Talon commented on #20
And so?

[2019-10-30 11:12] atiirajaee opened #41 "@aparecidoSilvano @ThanosFisherman Can refer to this：https://blog.csdn.net/u014632228/article/details/101207983"
@aparecidoSilvano @ThanosFisherman Can refer to this：https://blog.csdn.net/u014632228/article/details/101207983

_Originally posted by @oy-paddy in https://github.com/ThanosFisherman/WifiUtils/issues/38#issuecomment-534014658_

I can't understand the language is Chinese!!!

[2019-10-30 11:22] ThanosFisherman commented on #41
Please do not open new issues that already exist.

[2019-10-30 11:22] #41 closed

[2019-11-19 15:11] benni12er opened #42 "No minSdkVersion"

[2019-12-03 11:28] mukhamedissa opened #43 "Android 10 Connection Status"
Is there any plans of supporting android 10 new API on connecting to Wi-Fi?

[2019-12-11 09:21] SheetalAlbi opened #44 "Sometime connect ,sometime not"
I face an issue that when I implement the first time it's work fine but on the next day every time I got Epic fail. Can you help me out?

[2019-12-20 09:48] eliaslecomte commented on #40
Is the network actually in range?

[2019-12-26 10:16] MuhammadSheraz79 opened #45 "Unable to connect to Wifi on Android 10"
This library was working till Android 9 but it is not working on Android 10.

[2020-01-17 09:36] Vijay-Patole commented on #45
I am facing the same issue

[2020-01-18 10:39] ThanosFisherman opened #47 "Android 10 support. Testers needed"
Please report any connectivity issues related to Android 10 here.

WiFiUtils now has a basic support for Android 10 thanks to the contribution #46 of @eliaslecomte

Hopefully owners of Android 10 devices will help us fix potential bugs.

[2020-01-18 10:42] ThanosFisherman commented on #43
Refer to #47

[2020-01-18 10:42] #43 closed

[2020-01-18 10:43] ThanosFisherman commented on #31
Refer to #47

[2020-01-18 10:43] #31 closed

[2020-01-18 10:44] ThanosFisherman commented on #45
Refer to #47

[2020-01-18 10:44] #45 closed

[2020-01-18 11:21] AndroidDeveloperLB commented on #47
Does it have a way to connect to Wifi network as I've written here:
https://github.com/ThanosFisherman/WifiUtils/issues/31#event-2960152598
?
At least via root?

[2020-01-18 11:31] ThanosFisherman commented on #47
@AndroidDeveloperLB I haven't tried the root way because that's another story that involves some command line arguments plus I'm not even sure if it's gonna work.

The new contribution aims to make this library connect to WiFi networks on Android 10 devices without requiring root but it's not thoroughly tested yet.

[2020-01-18 13:34] AndroidDeveloperLB commented on #47
@ThanosFisherman Wait you have an idea of what should be done using root?
As for without root, I only know of a "suggestion" API that Google presented. It has various disadvantages:
1. Not staying forever. If the app is removed, the networks too.
2. Has some limit of number of networks, though it's a very high limit.
3. Last time I checked, the API causes a notification to appear, instead of just

[2020-01-18 19:21] eliaslecomte commented on #47
That is correct, with the new api (starting Android 10), the wifi internet is only for the app that requested it. I assume the use case is more like connecting to configure IoT devices.

[2020-01-18 21:51] AndroidDeveloperLB commented on #47
@eliaslecomte Well it's not such a nice alternative to what we had before...

[2020-01-19 11:39] ThanosFisherman commented on #47
On the other hand this may be a good thing after all if it is made to work reliably across all devices.

WiFi API has always had stability issues between API Versions and devices (see issue #44) which is something I tried to mitigate but didn't succeed 100% Let alone the [annoying decision](https://issuetracker.google.com/issues/37060483) by Android team that requires you to turn your location ser

[2020-01-19 11:58] AndroidDeveloperLB commented on #47
Well it kinda makes sense though, because if you have Wifi access you can guess with much better precision the current location.

[2020-01-20 17:41] RussNelson commented on #47
I believe that they're trying to prevent MITM attacks by not allowing an app to connect to a subverted access point. They don't explicitly say that because you never want to give attackers suggestions.

[2020-01-20 19:44] AndroidDeveloperLB commented on #47
" subverted access point" ?
So it's not about privacy of getting location by knowing the surrounding Wifi networks?

[2020-01-20 20:09] RussNelson commented on #47
No, that's why an application can't connect without recommending the connection to the user.
The added permissions needed to scan are about getting location by knowing the surrounding WiFi networks. By insisting on both COARSE_LOCATION and FINE_LOCATION, it becomes a moot point that you can look up the location via WiFi. The user has to trust your app with your location because .... you can figure

[2020-01-20 20:40] AndroidDeveloperLB commented on #47
What I say is that without COARSE_LOCATION and FINE_LOCATION permissions, it's still possible to get a good guess of where you are, so that's why I think they added those into the mix.

[2020-01-20 23:11] RussNelson commented on #47
Yes, you are quite correct. So rather than leave the user in the dark, they require scanning for WiFi access point to have location permissions. The user gets explicitly asked for that.

[2020-02-03 20:00] singhal2 commented on #40
Hi, I am experiencing the same in Android Q, following from Logcat:

[2020-02-03 22:42] singhal2 commented on #47
I tried implementing the same in a new project. The OnAvailable method of the NetworkCallback seems to be in a loop. [Demo video](https://disq.us/url?url=https%3A%2F%2Fdrive.google.com%2Ffile%2Fd%2F11c3eRC_C_PSf0znEfHPEIo8vLTLe5506%2Fview%3Fusp%3Dsharing%3AWS8cP1-zES8EUtmoVFlHXssUXZ0&cuid=5264511)

[2020-02-03 23:14] AndroidDeveloperLB commented on #47
@singhal2 Can you please share the source code of this?
Maybe it's a bug on the OS

[2020-02-04 06:43] eliaslecomte commented on #40
If you forget the wifi network I think it will work.  Can you test?

A lot has changed in Android Q / 10. There has been an experimental release to follows the new rules set by Google: https://github.com/ThanosFisherman/WifiUtils/issues/47

[2020-02-04 07:02] eliaslecomte commented on #47
What network security is used (wpa2?)?
Is it a network with or without internet?

[2020-02-04 07:05] singhal2 commented on #47
WPA2 and with internet. I’ll upload a sample soon.

Sent from my iPhone

[2020-02-04 07:09] AndroidDeveloperLB commented on #47
@singhal2 If you can make it happen even without this library, you should report it to Google:
https://issuetracker.google.com/issues

[2020-02-10 08:39] singhal2 commented on #47
Here is the source code I implemented. It contains both the library and standard code to connect to wifi.

[2020-02-10 08:43] AndroidDeveloperLB commented on #47
@singhal2 Probably wrong link. Doesn't include Android app project...

[2020-02-13 07:53] eliaslecomte commented on #47
There is a first problem:
`/**
     * Enable or disable Wi-Fi.
     * <p>
     * Applications must have the {@link android.Manifest.permission#CHANGE_WIFI_STATE}
     * permission to toggle wifi.
     *
     * @param enabled {@code true} to enable, {@code false} to disable.
     * @return {@code false} if the request cannot be satisfied; {@code true} indicates that wifi is
     *         either al

[2020-02-13 07:56] AndroidDeveloperLB commented on #47
@eliaslecomte You mean this:

https://developer.android.com/reference/android/net/wifi/WifiManager.html#setWifiEnabled(boolean)

You can't normally toggle Wifi using this permission anymore. Maybe via other workarounds (root, being system app, etc...).

[2020-02-13 08:17] eliaslecomte commented on #47
Yes, but also, startScan returns false starting Android 10 if you request _ACCESS_COARSE_LOCATION_.

[2020-02-13 08:28] AndroidDeveloperLB commented on #47
@eliaslecomte I hope you figure it out. Such a mess has become of Android API. Too many restrictions, that sometimes even the docs don't help.

[2020-02-15 18:54] markowanga opened #48 "App crashes on newly created project"
I created a new project in Android Studio. I have granted all needed permissions. When I want to connect to WPA wifi I have error like this:

2020-02-15 19:16:45.039 16166-16166/pl.theliverboy.wifitest D/WifiUtils: WifiUtils: WIFI ENABLED...
    --------- beginning of crash
2020-02-15 19:16:45.046 16166-16166/pl.theliverboy.wifitest A/libc: Fatal signal 11 (SIGSEGV), code 2, fault addr 0x741490305

[2020-02-16 06:38] markowanga commented on #48
I found solution. Just add Java 1.8 compatibility.

[2020-02-16 06:38] #48 closed

[2020-03-06 13:51] fartem opened #50 "Disconnect from connected network without disabling Wi-Fi?"
How can I disconnect from a connected network without disabling Wi-Fi?

Right now I'm disconnecting with default SDK methods:

[code]

[2020-03-10 23:56] juicycool92 opened #51 "scan stop immediately"
Basicly, most of phone can scan wifi's normally.

but some of phone get COULDN'T SCAN error and stop scam immediately.
i cannot find any solution, i cannot gathering detail log. i stuck at here..

[code]

is there any solution or hint for this error?

[2020-03-11 01:22] CrzGitHub opened #52 "ANR ERROR"
.scanWifi().start()  after an exception is thrown

03-11 09:17:32.961 22609-22609/com.mzydz.publish I/System.out: wifiNamezuojiedianshang1
03-11 09:17:32.961 22609-22609/com.mzydz.publish I/System.out: wifiNameMZY-5G
03-11 09:17:32.961 22609-22609/com.mzydz.publish I/System.out: wifiNameIP-COM_306C30
03-11 09:17:32.961 22609-22609/com.mzydz.publish I/System.out: wifiNamezckj
03-11 09:17:32.961 226

[2020-03-11 01:27] CrzGitHub opened #53 "ANR Error"
.scanWifi().start()  after an exception is thrown

03-11 09:17:32.961 22609-22609/com.mzydz.publish I/System.out: wifiNamezuojiedianshang1
03-11 09:17:32.961 22609-22609/com.mzydz.publish I/System.out: wifiNameMZY-5G
03-11 09:17:32.961 22609-22609/com.mzydz.publish I/System.out: wifiNameIP-COM_306C30
03-11 09:17:32.961 22609-22609/com.mzydz.publish I/System.out: wifiNamezckj
03-11 09:17:32.961 226

[2020-03-11 11:47] NizarETH commented on #50
me too I do the same :/

[2020-03-11 16:27] fartem commented on #50
+ `wifiManager.disconnect();` not working on Android Q.

[2020-03-16 21:24] JavaDeveloper08 opened #55 "In a few times, Scan Results are empty"
Hi, Thank you very much for your effort, this library is very useful.

But sometimes I am facing a problem. At first, wifi scan result list is greater than 0. And I am trying
second, third... everything is OK. but when I do fourth try I am getting error below

WifiUtils: START SCANNING....
I/Result: SCAN RESULTS IT'S EMPTY
D/WifiUtils: WifiUtils: ERROR COULDN'T SCAN

After that, whenever I try to

[2020-03-23 05:38] Jasperben opened #59 "There are some problems with Android 10"
Frequent disconnection

[2020-03-25 03:19] Jasperben commented on #55
I've also found this problem

[2020-03-25 03:21] Jasperben commented on #55
I've also found this problem

Android 9

[2020-03-25 11:20] Hynsn opened #60 "suggest to add getConnectedWifiinfo() funcation"
sometime we need to get the current connected wifiinfo ,such as wifi_info ,ip address or others about wifi-station detail info. so I hope add it. it 's not difficult.

[2020-03-25 13:56] bverhoeven commented on #55
This is by design and the expected behavior. Please review:  https://developer.android.com/guide/topics/connectivity/wifi-scan#wifi-scan-throttling

Notably for Android 9 and up:

Attempts to scan more often will result in an empty list.

[2020-03-25 16:18] bverhoeven commented on #51
If you're using Android 9 or higher, you're probaby seeing the same issue as in #55:

Attempts to scan more than four times in a 2-minute period will result in an empty list (which will indeed "finish" instantly). There's unfortunately no way to work around these restrictions.

[2020-03-26 12:33] JavaDeveloper08 commented on #55
@bverhoeven  thank you very much for your reply.

[2020-03-29 09:09] Jasperben opened #61 "It is recommended to add callback of connection process"
It is recommended to add callback of connection process

For example: start verification, start connection, connecting

[2020-03-29 09:10] Jasperben commented on #60
Good advice

[2020-04-01 09:17] juicycool92 commented on #51
Thanks for letting me know current state of problem.
seems like i cant do anything until something update or else.
i close this issue case because duplicated #55

[2020-04-01 09:17] #51 closed

[2020-04-10 15:37] CloseFile commented on #50
I use a trick in my app. When you need to disconnect just enter the wrong password and reconnect

[2020-04-11 14:52] ThanosFisherman commented on #50
Future versions will include a disconnect feature. For now use the workaround mentioned by @CloseFile  above or the standard  `wifiManager.disconnect()`

[2020-04-11 14:54] #55 closed

[2020-04-11 14:55] #29 closed

[2020-04-11 14:56] #52 closed

[2020-04-11 15:00] #35 closed

[2020-04-11 18:47] fartem commented on #50
@ThanosFisherman thanks!

[2020-04-11 18:47] #50 closed

[2020-04-22 22:06] ljbatwh commented on #47
Based on Wifitutils 1.5.1, I have tested on XiaoMi Mix2 (android 10). It can connect to a WIFI of IoT(can not access the internet). but the IP looks wired. after I add connctionManager.bindProcessToNetwork, it works. But to support disconnect from that WIFI, I need to pass out the callback used when connecting to wifi.  But https://github.com/JuanSeBestia/react-native-wifi-reborn/pull/66

[2020-04-22 23:06] anctsys opened #62 "android:allowBackup is forced to true - security impact"
Hi

Why did you put  android:allowBackup
in this file at true
` WifiUtils/sample/src/main/AndroidManifest.xml ` at sample/src/main/AndroidManifest.xml
Because when i install another library ( https://github.com/JuanSeBestia/react-native-wifi-reborn#readme)  who use Wifiutils I have conflict with my manifest and yours. And that force me to pass my manifest parameters allowBackup to true.

[code]
**

[2020-04-22 23:07] ThanosFisherman commented on #47
@ljbatwh The latest version (1.6.0) of WifiUtils includes support for disconnecting of wifi networks. Please take a look at [MainActivity](https://github.com/ThanosFisherman/WifiUtils/blob/master/sample/src/main/java/com/thanosfisherman/wifiutils/sample/MainActivity.java) to see how disconnection works and do some testing on your Xiaomi because I do not own an android 10 device yet.

[2020-04-22 23:39] ThanosFisherman commented on #62
Hi,

I'm not sure I understand what you're trying to do. Why would you want to use the sample project with this react native library?

Could you please post the error message if you get any?

[2020-04-23 03:51] ljbatwh commented on #47
@ThanosFisherman thanks. the 1.6.0 can connect and disconnect wifi on my android 10 (XiaoMi Mix2)
but there two issues.
1. I need to add **connectivityManager.bindProcessToNetwork(network)** after the connected.
Else, it can not access another device on the network.
[code]
2. the multicast package can not be received. But if I connect the Wifi by manual, the multicast worked.

[2020-04-24 19:57] anctsys commented on #62
Hi

I try to install https://github.com/JuanSeBestia/react-native-wifi-reborn library

`$ npm install react-native-wifi-reborn --save`
`$ npx react-native run-android --verbose`

After this command the build start and stop with this error message

[code]

Thank you for help me

[2020-04-25 06:38] eliaslecomte commented on #62
This is already merged here: https://github.com/ThanosFisherman/WifiUtils/pull/57

[2020-04-25 08:48] gadget-man opened #63 "Constant disconnect on OnePlus devices"
I'm using the latest WifiUtils and it works OK on most devices, but whenever we try it on OnePlus on Android 10 the connection to the new WiFi network drops and gets stuck in a loop.

I've attached a video showing the behaviour on OnePlus8:
https://drive.google.com/open?id=1-vP8LR-rMQcaWBRugKhmPMZ8R2C-OabD

All I get in the logs when the 'Device to use with iParcelBox' pops up is the following:
`D

[2020-04-25 10:18] gadget-man opened #64 "connectWith Wifi no longer working in 1.6.0"
I've updated to test 1.6.0, but the following command which was fine in 1.5.1 is no longer able to build:
`WifiUtils.withContext(mContext).connectWith(sSID.trim(), password.trim()).setTimeout(15000).onConnectionResult {isSuccess ->
            mIsWifiConnected = isSuccess
            LoggerUtils.logMessage("Connected Status :$mIsWifiConnected")
            if (mIsWifiConnected) {
                b

[2020-04-25 10:26] ThanosFisherman commented on #64
Yeah there are breaking changes in 1.6.0

`onConnectionResult` now accepts a `ConnectionSuccessListener` interface as a parameter. Have a look at [MainActivity](https://github.com/ThanosFisherman/WifiUtils/blob/445ae419b8c45d5852912ce8c30f55d39b9ee867/sample/src/main/java/com/thanosfisherman/wifiutils/sample/MainActivity.java#L49) to see how this works.

[2020-04-25 10:37] gadget-man commented on #64
I noticed that, but can't get the example you pointed to to work in Kotlin, which translates to:

`WifiUtils.withContext(mContext)
            .connectWith(sSID.trim(), password.trim())
            .setTimeout(15000)
            .onConnectionResult(object : ConnectionSuccessListener {
                fun success() {
                    Toast.makeText(mContext, "SUCCESS!", Toast.LENGTH_SHORT).show(

[2020-04-25 10:57] gadget-man commented on #64
I also tried this:
`WifiUtils.withContext(mContext).connectWith(sSID.trim(), password.trim()).setTimeout(15000).onConnectionResult(
            object: ConnectionSuccessListener {
                override fun isSuccessful(isSuccess: Boolean) {
                    TODO("Not yet implemented")
                    LoggerUtils.logMessage("PMN onSuccessListener")
                }
            }).start()

[2020-04-25 11:05] Jasperben commented on #63
me too

[2020-04-25 15:01] gadget-man commented on #63
I'm wondering whether this is somehow linked to the below, which I can't see implemented in WifiUtils anywhere (if it's even relevant)
https://developer.android.com/guide/topics/connectivity/wifi-suggest

[2020-04-25 18:07] ThanosFisherman commented on #64
I see some syntactical errors in your code.

I updated the sample app by including [MainKotlinActivity](https://github.com/ThanosFisherman/WifiUtils/blob/master/sample/src/main/java/com/thanosfisherman/wifiutils/sample/MainKotlinActivity.kt) class to demonstrate usage of the lib in Kotlin.

Check it out and let me know if you still get errors

[2020-04-25 18:13] ThanosFisherman commented on #63
I will have to look into it. The annoying thing is that Wifi behavior is differs across different devices and since I do not own an OnePlus to test it I will have to guess and generally code in blind.

[2020-04-25 18:20] gadget-man commented on #63
I think it may be an issue with OxygenOS on OnePlus Devices:
https://issuetracker.google.com/issues/143549613

[2020-04-25 20:42] gadget-man commented on #64
Thank you. Not sure what I'd done but this part is working now.

[2020-04-25 20:42] #64 closed

[2020-04-26 03:27] Jasperben opened #65 "Want to add WiFi advanced settings (static IP, DNS, proxy)"
希望加上WiFi高级设置（静态IP，DNS,代理）
Want to add WiFi advanced settings (static IP, DNS, proxy)

[2020-04-26 03:51] anctsys commented on #62
Thanks , Very Good

[2020-04-26 03:51] #62 closed

[2020-04-26 17:30] eliaslecomte commented on #63
I am having the same issue and also looking into it.

[2020-04-26 17:33] eliaslecomte commented on #14
In WifiUtils 1.6.0 you get multiple error codes to explain why! See https://github.com/ThanosFisherman/WifiUtils/blob/master/wifiutils/src/main/java/com/thanosfisherman/wifiutils/wifiConnect/ConnectionErrorCode.java

[2020-05-01 14:28] eliaslecomte commented on #47
@ljbatwh I've added the bindProcessToNetwork() again(it was also in 1.5.0 but I wrongly assumed it wasn't needed) in this pr: https://github.com/ThanosFisherman/WifiUtils/pull/66.

I would assume multicast works. I am also using https://github.com/tradle/react-native-udp and this works after connecting with bindProcessToNetwork().

[2020-05-01 14:30] eliaslecomte commented on #63
At the moment this api is not used. For android 10 there are 2 approaches. A new api to temporary connect to a wifi access point (setup of IoT devices) and this suggestion api.

[2020-05-01 14:41] gadget-man commented on #63
My use case it temporary connection to an IoT device for provisioning purposes. It works on most devices, just not OnePlus. I did manage to do something on one device and it started working fine (no idea what!), but after a factory reset, the device reverted to the error state originally described above. I've submitted a bug report to OnePlus and google as it seems to be on their side rather than

[2020-05-01 14:45] eliaslecomte commented on #63
If you can link your bug reports pls do. I am also using this library for IoT provisioning. Do notice there is an issue with 1.5.1 & android 10. Better use 1.5.0 or the next release (https://github.com/ThanosFisherman/WifiUtils/pull/66).

[2020-05-01 14:56] gadget-man commented on #63
Sure:
https://issuetracker.google.com/issues/143549613
https://forums.oneplus.com/threads/wifinetworkspecifier-immediately-drops-connection.1219734/

I'm using 1.6.0
Note your comment about bindProcess being required - I'd prefer that this wasn't in the library - it's useful when you connect to the iOT device, but after provisioning is complete and you want to reconnect to the original wifi networ

[2020-05-01 15:00] eliaslecomte commented on #63
How do you disconnect from the IoT device? Or does it terminate by itself?

[2020-05-01 15:03] gadget-man commented on #63
My IoT device does a reboot, so the connection get terminated.

[2020-05-05 21:55] ljbatwh commented on #47
@eliaslecomte thanks for the help. but it does not work on my phone (Xiaomi Mix2). It does not throw errors, just no receive multicast packets when I use requestnetwork() and bindProcessToNetwork(). But if I manually connect to my IoT WIFI, it works.

[2020-05-18 18:07] eliaslecomte commented on #59
What devices?

[2020-05-18 18:56] mrgogomaster opened #67 "Exception from call site #14 bootstrap method"
at com.thanosfisherman.wifiutils.WifiUtils.start(WifiUtils.java:334)
<img width="1646" alt="Screenshot 2020-05-19 at 12 24 56 AM" src="https://user-images.githubusercontent.com/23306263/82249387-4ebe5880-9967-11ea-8206-924cba15edda.png">

[2020-05-18 19:44] ThanosFisherman commented on #67
try adding the following in your app level build.gradle file and let me know.

[code]

[2020-05-18 22:52] mrgogomaster commented on #67
Thanks bro..resolved the issue.

[2020-05-18 22:52] #67 closed

[2020-05-22 02:38] xralphack opened #68 "Android 10 when network onUnavailable"
I want to handle when user click the cancel button on the popup dialog.
I did see the "AndroidQ+ could not connect to wifi" log when click the button.
How can I add handler for this event?

[code]

[2020-05-25 09:02] eliaslecomte commented on #68
I will tacke this problem but have to find the best way because success/error handling is decoupled from each other.

[2020-05-28 15:23] AlirezaGhanbarinia opened #69 "Disable auto reconnecting"
I use the latest disconnect feature it works OK on most devices, but If the user enable the auto reconnecting option, it will automatically connect to WiFi after disconnect the WiFi.

Is it possible that the connection will not be restored automatically after disconnecting the WiFi connection, or will the option of automatic connection for all the surrounding WiFi be disabled?

[2020-06-01 14:34] JavaDeveloper08 commented on #47
I am using 1.6.1 version. I have same problem on OnePlus 7 Pro.  but whenever we try it on this phone on Android 10 the connection to the new WiFi network drops and gets stuck in a loop.
The logcat log is below. Please help me.

06-01 16:27:44.243  1549  1549 D OpSlaManager:  lp:{InterfaceName: wlan0 LinkAddresses: [ 192.168.10.2/24 ] DnsAddresses: [ /192.168.10.1,/8.8.8.8 ] Domains: null MTU: 150

[2020-06-01 14:37] AndroidDeveloperLB opened #71 "Suggestion: Android R might have official way to add Wifi networks, at least via adb"
So maybe possible to do it nicely via root too:

You can use this command to check what's possible (got from [here](https://issuetracker.google.com/issues/138734793#comment4)) :

`adb shell cmd wifi help`

[2020-06-01 14:54] JavaDeveloper08 commented on #63
@gadget-man  did you solve the problem?. I am facing with same problem in your video. I am using OnePlus7 Pro device.

[2020-06-01 15:03] gadget-man commented on #63
No, it appears that it is a bug in either OxygenOS or Android 10. It affects all OnePlus devices, and possibly also Samsung S7 edge (we're trying to verify). I've raised a bug report on both Android and OnePlus and have provided logs etc, but still waiting for resolution.

[2020-06-01 15:09] qcasey commented on #63
I'm hoping 10.3.3 Oxygen OS silently fixes this, but I won't hold my breath. Has anyone tried this issue against the latest stable release?

[2020-06-01 15:12] gadget-man commented on #63
I'm on 10.5.6.IN21BA and it's still an issue.

[2020-06-01 15:16] qcasey commented on #63
Good to know, thanks.

[2020-06-04 11:06] JavaDeveloper08 opened #72 "Getting saved wifi networks"
Hi, Can I retrieve only saved Wifi network list include ssid, password etc. by using this library ? Thanks.

[2020-06-04 11:09] ThanosFisherman commented on #72
Hi, No this is not possible with this library.

[2020-06-04 11:09] #72 closed

[2020-06-18 10:28] frestoinc commented on #47
tested your app and it seems for android 10 you're using the p2p requestNetwork solution.  Is the WifiNetworkSuggestion not stable as i've successfully connected using WifiNetworkSuggestion but there's a delay of 1 min upon accepting the notification suggestion.

[https://developer.android.com/guide/topics/connectivity/wifi-suggest](url)
`The suggestions from the app must be approved by the user b

[2020-06-18 18:03] eliaslecomte commented on #47
For my use case, (commissioning of IoT devices), this seemed the right API, as with the network suggestions api, you never know when or if, the OS will connect with a network. Your use case might be different?

[2020-06-19 07:59] cdck opened #73 "能够获取到已经连接的WiFi密码"

[2020-06-19 08:25] ThanosFisherman commented on #73
Please keep the issues in English language. I had to translate your title and from what I understood, being able to view the wifi password of a connected network is not possible.

[2020-06-19 08:25] #73 closed

[2020-07-08 07:20] JeetSA commented on #27
Hello @MujeeSalpo ,

I am facing the same issue.  Can you please let me if you find any solution for the same?

Thanks.

[2020-07-08 07:37] aMujeeb commented on #27
Hi @JeetSA ,
 Connecting to a 'hidden' wifi was an issue we could not overcome. Instead we made the wifi visible by hardware level. Connection was made successfully.

[2020-07-08 08:30] JeetSA commented on #27
@aMujeeb

Thanks for replying.

The wifi which we are using is visible to all. Still, I am not able to connect to the wifi. ```getScanResults``` function is returning 0 values while scanning and I am getting "DID_NOT_FIND_NETWORK_BY_SCANNING" error. Location service is enabled.

Can you please help me with that?

[2020-07-10 17:44] asantana48 opened #74 "Suggestion: Allow users to forward logs"
Hi, I was wondering if you would be interested in including the ability to forward logs to other loggers. I'm a fan of using [Timber](https://github.com/JakeWharton/timber) to log things because it, in turn, allows me to forward logs to remote services like PaperTrail and Crashlytics. It would really help me out to see the logs of your library remotely.

This would indirectly help with the core fu

[2020-07-10 20:15] ThanosFisherman commented on #74
Hello @asantana48 Your idea is great! Currently the logging mechanism in WifiUtils is pretty old and could certainly use some upgrades. I also use Timber on my recent projects and it really helps in that regard.

I will be happy to review your pull request :)

[2020-07-10 21:42] asantana48 commented on #74
Awesome, thanks! Just opened one!

[2020-07-14 09:32] griffithsb commented on #23
I've just worked through this problem. It's related to the bindProcessToNetwork() call which has been moved in and out of the library over the last few releases.

As a test try using wifiutils:1.6.0 which does not bind sockets to processes (Q or later). This worked for me but now I'm now stuck on this revision. It would be handy if the binding was an option.

[2020-07-17 14:33] ThanosFisherman commented on #74
resolved in #75

[2020-07-17 14:33] #74 closed

[2020-07-17 15:07] ThanosFisherman commented on #20
resolved by #70

[2020-07-17 15:07] #20 closed

[2020-07-24 01:08] swy0710 opened #76 "After AP switching, NetworkInterface.getNetworkInterfaces() returns null."
After AP switching or disconnecting, null is always returned when calling NetworkInterface.getNetworkInterfaces() to get the local ip.
But before that, It works totally fine.
Please help.

test phone : pixel2
android version : 10

Thanks in advance.

[2020-07-27 06:32] swy0710 commented on #76
solved it by calling connectivityManager.bindProcessToNetwork(null);

[2020-07-27 06:32] #76 closed

[2020-07-28 00:45] swy0710 opened #77 "want to cancel the request immediately."
Please consider cancelling the request immediately before the system popup appears.  The disconnect or remove function doesn't seem to work because it is before the connection, and the system popup still appears even though the function is called. It seems that the related function does not exist.

[2020-07-28 01:18] swy0710 opened #78 "callback for cancel from system popup."
When user cancel the connection from system popup, onUnavailable is called but there is no callback to end point.
Is there any way to get the callback?

[2020-07-28 04:21] swy0710 commented on #77
I've just become to know that I need to use "cancelAutoConnect".

[2020-07-28 04:21] #77 closed

[2020-07-28 07:49] ThanosFisherman commented on #78
I'll have a look into it and maybe expose the callback to the API if needed.

[2020-07-28 19:15] nur1414 opened #79 "Wifi"
Good

[2020-07-28 20:18] #79 closed

[2020-07-30 10:03] NizarETH commented on #47
@ThanosFisherman
I test the lib a couple days ago, I'don't have internet connection on **Android 10** the connection is established but no internet.
I use Redmi note 9 PRO (Android 10)
I miss something ?
thanks

[2020-07-31 15:31] ThanosFisherman commented on #47
@NizarETH a few people using Xiaomi devices reported this behavior. I'm really not sure the root cause of it yet.

For what is worth. We've recently removed the line `bindProcessToNetwork` Maybe you could try to reintroduce it again to your code and see what happens.

[2020-08-02 21:50] NizarETH commented on #47
@ThanosFisherman I tried multiple time, I debug  my a lot of code too, so the scope of internet access is limited inside the app, If you leave the app  which  you trigger the connection to a hotspot, then, you will not have internet access.
thank's

[2020-08-04 18:35] eliaslecomte commented on #47
Yes this is actually normal behavior. Since Android 10, Android has blocked the previous api's to manipulate wifi configuration entries. There are 2 new api's. The first (which is currently used by WifiUtils) is used for IoT commissioning. The app that uses it can execute api calls to the wireless access point. Only that app, and the wifi network is not persisted for the smartphone to use. There i

[2020-08-06 05:31] adaonder commented on #22
Hi,
I found the problem, if GPS is on, the result comes. If GPS is off, there is no result. Why was the GPS condition added?

[2020-08-06 05:42] adaonder opened #80 "BUG: WifiUtils scanWifi scanResults null data"
Hi,
 if GPS is on, the result(scanResults) comes. If GPS is off, there is no result. Why was the GPS condition added?

![Screen Shot 2020-08-06 at 08 40 33](https://user-images.githubusercontent.com/25998206/89495224-80a1c700-d7c0-11ea-930d-e03fa231e19d.png)

**Code:**
WifiUtils.withContext(Application.getInstance()).scanWifi(scanResults -> {
                LogUtil.d("scanResults: " + scanResults

[2020-08-06 09:34] ThanosFisherman commented on #80
Yes we've been through this multiple times. It's a requirement by the Android framework to keep your location data on if you want to scan for wifi networks.

More info [here](https://issuetracker.google.com/issues/37060483)

[2020-08-06 09:34] #80 closed

[2020-08-07 08:07] dpnkrg opened #81 "Mac address changes on every reboot."
After the integration of this library in my app. The device mac address is changed on every reboot.

Searched on the internet about this. I have found this

`One of the things to take care of while assigning a new MAC address is that you should not change the manufacturer name. This is represented by XX:XX:XX, i.e, the first 6 places or digits. If you change these, you may face Wi-Fi authenticatio

[2020-08-07 12:54] mas1515 commented on #59
@eliaslecomte
I test library with android 10

samsung a50s

and sample

doesnt work at all .

what is solution  ???

[2020-08-07 12:57] mas1515 commented on #47
@eliaslecomte
I test library with android 10
my device is
samsung a50s

and sample
doesnt work at all .

what is solution ??? how use library with android 10 ???

[2020-08-07 23:06] NizarETH commented on #47
@mas1515 I'll fork the project and pull my solution for having internet access for Android 10

[2020-08-10 04:30] dpnkrg commented on #81
Dear All,

Any suggestion or update?

[2020-08-10 10:58] arangu97 commented on #38
Hello, I have the same issue here.

Have you been able to avoid this problem when connecting to a certain Wifi?
I am using the react-native-wifi-reborn library.

[2020-08-11 12:42] dpnkrg commented on #81
Checked the issue. seems like this issue is not related to the library.

Thanks, @ThanosFisherman for the library.

[2020-08-11 12:42] #81 closed

[2020-08-17 12:35] eliaslecomte commented on #78
This is part of https://github.com/ThanosFisherman/WifiUtils/pull/82.

[2020-08-17 12:36] eliaslecomte commented on #68
This is part of my pr: https://github.com/ThanosFisherman/WifiUtils/pull/82.

[2020-08-17 12:38] eliaslecomte commented on #63
This is fixed on OxygenOS starting 10.5.7.IN21BA.

[2020-08-17 12:40] eliaslecomte commented on #59
Are you connecting with a wifi network that has internet connectivity or not?

[2020-08-17 14:26] eliaslecomte commented on #69
Maybe use the remove feature then? It will disconnect & remove.

[2020-08-21 06:16] Jasperben opened #83 "IntentReceiver com.thanosfisherman.wifiutils.wifiScan.WifiScanReceiver@cbb1961 that was originally registered here. Are you missing a call to unregisterReceiver()?"
2020-08-21 14:12:23.986 5983-5983/com.app.filly E/ActivityThread: Activity com.app.filly.SettingActivity has leaked IntentReceiver com.thanosfisherman.wifiutils.wifiScan.WifiScanReceiver@cbb1961 that was originally registered here. Are you missing a call to unregisterReceiver()?
    android.app.IntentReceiverLeaked: Activity com.app.filly.SettingActivity has leaked IntentReceiver com.thanosfisherm

[2020-08-29 14:15] lujnan commented on #27
@JeetSA [WifiManager#getScanResults() returns null if GPS is turned off]  (https://issuetracker.google.com/issues/37060483#c18) on Android 6.0 or Android 7.0 system.

[2020-09-05 04:14] kailaisi opened #84 "how to set priority the wifi to connect?"
the signal of the WIFI to connected  is weak, often automatically switched. Is there any methods to set the priority of the wifi?

[2020-09-05 08:56] ThanosFisherman commented on #84
Shifting priorities is deprecated as of API 26. On pre 26 WifiUtils already assigns the maximum priority to the specified network (see [here](https://github.com/ThanosFisherman/WifiUtils/blob/1c480b24d3eef24caae8aa58dc00d370db0c5ffc/wifiutils/src/main/java/com/thanosfisherman/wifiutils/ConnectorUtils.java#L126)) but there are still not guarantees that the priority will not change again by the OS i

[2020-09-05 17:03] #84 closed

[2020-09-10 07:54] super0610 commented on #47
Hi @ThanosFisherman
Thanks for providing great library.
I was trying to use this library to connect with iOT devices.
Below Android 9, it works well, but with android 10 it doesn't work.

If i provide correct password, then it connected and I save this password.
After I change wifi password manually, and retry to connect (at this moment, the saved password is different with current password), it i

[2020-09-10 11:01] eliaslecomte commented on #47
Did you maybe edit the MainActivity? This file is no longer used, you should edit the MainKotlinActivity for testing purposes.

[2020-09-10 11:03] eliaslecomte commented on #47
If changing password / reconnecting doesn't work you will have to debug. I think it will be a phone firmware issue rather than something WifiUtils can fix.

[2020-09-10 11:11] super0610 commented on #47
Thanks @eliaslecomte
Let me try to explain again. (lets think any credential is not saved in wifi settings)
- if i use correct password, then app connect to wifi.
- if i use wrong password, we get "Didn't connect to wifi authentication_error_occurred", i think it is correct.
- after this, i can't connect to wifi even with correct password, always show above log message.

it will work again if i go

[2020-09-10 11:12] super0610 commented on #47
PS; the password is changed correctly in Firmware, if i fresh wifi and try changed password, it works.
if i use wrong password again, then it will stop working even i use correct password.

[2020-09-10 11:17] super0610 commented on #47
min sdk version is 23

[2020-09-10 11:48] ThanosFisherman commented on #47
Regarding the sample I did some cleanups, migrated to .kts gradle scripts, renamed the `MainKotlinActivity` to MainActivity and removed the old Java MainActivity. The sample should work as is. Just make sure you are using the latest Android Studio Version (CC @mas1515 )

@super0610 Seems like another restriction (or probably a bug on Android OS itself). You say that if you manually forget the netw

[2020-09-10 11:53] super0610 commented on #47
Thanks for your reply @ThanosFisherman
I will check this in few hours and share here.
Best Regards.,

[2020-09-10 17:09] super0610 commented on #47
hi @ThanosFisherman
I tested with the Sample, but the sample doesn't work.
I tried same credential for the wifi, forget wifl from settings.
Tested several times, but sample didn't work, and our app works with same credential.

[2020-09-10 17:50] super0610 commented on #47
in Android 7, sample works.
in Android 10 (mine is Samsung SM-T290 tablet), it doesn't (Timeout)

[2020-09-11 09:23] ThanosFisherman commented on #47
Thanks for the update @super0610 I'm not sure yet what might be wrong or if this is an intended behavior. I'll try to investigate it and post back.

[2020-09-11 10:52] eliaslecomte commented on #47
I'm not having a Samsung SM-T290, so I can't help on this one. If you could do any more debugging @super0610 that would be awesome.

[2020-09-12 15:21] Aima09 opened #85 "java.lang.NoClassDefFoundError: Failed resolution of: Lcom/thanosfisherman/elvis/Elvis;"
Hi guys,Does anybody have any idea for this crash issue?
I test it on the sony device with android 9.

[code]

[2020-09-12 18:31] ThanosFisherman commented on #85
Looks like [this](https://github.com/ThanosFisherman/Elvis) library is not imported correctly but I don't understand why.

Please try the following

1. File > Sync Project with Gradle Files
2. File > Invalidate Caches / Restart

[2020-09-13 05:25] Aima09 commented on #85
Thanks for your reply,I have resolve this issue with add another library to the gradle and sync it.

implementation 'com.thanosfisherman.elvis:elvis:2.0'

[2020-09-13 05:25] #85 closed

[2020-09-17 09:07] eliaslecomte opened #86 "Cannot resolve symbol elvis"
Android apps that still use Gradle dsl can't resolve symbol elvis.
This is a dependency of WifiUtils. Not sure how I should fix this.

[2020-09-17 09:11] ThanosFisherman commented on #86
This is strange because it seems to resolve fine on my machine. Let me take a look and post back.

[2020-09-17 09:35] eliaslecomte commented on #86
I'm also confused. It works correctly in the sample but not in an empty android app with Kotlin as default (bot not kotlin-dsl).

[2020-09-17 09:38] ThanosFisherman commented on #86
Oh so you are having issues when you include WifiUtils dependency on a third party project?

[2020-09-17 11:11] eliaslecomte commented on #86
Yes.

[2020-09-17 22:30] ThanosFisherman commented on #86
@eliaslecomte I released a new version 1.6.4 let me know if Elvis resolves correctly now. :)

[2020-09-18 12:05] eliaslecomte commented on #86
Thanks for the prompt action! It seems to work correctly now. I still had an error but that was due to having both kotlin-stdlib-jdk8 & kotlin-stdlib in my project. Resolved that by switching to kotlin-stdlib-jdk8.

[2020-09-18 13:51] ThanosFisherman commented on #86
Kotlin-stdlib supports Java 6 and above. I use kotlin-stdlib-jdk8 in my projects which includes both kotlin-stdlib and kotlin-stdlib-jdk7 as well.

So yeah you only need to include kotlin-stdlib-jdk8 in your project.

Closing this for now.

[2020-09-18 13:51] #86 closed

[2020-09-21 10:19] heetparkhiya commented on #47
Getting Error COULD_NOT_SCAN in android 10 when connecting to local hotspot created with specific ssid and password

[2020-09-21 19:33] Najeeb-Idrees commented on #25
Hello @ThanosFisherman : Any update on this? How to can connect with hidden SSID?

[2020-09-21 19:35] Najeeb-Idrees commented on #25
I check and all we need to do is to set hidden flag true in wifi config when want to connect with hidden SSID.

WifiConfiguration wifiConfig = new WifiConfiguration();
wifiConfig.SSID = String.format("\"%s\"", networkSSID);
wifiConfig.hiddenSSID = true;
wifiConfig.preSharedKey = String.format("\"%s\"", networkPass);

Can you please verify and add as soon as possible.

[2020-09-28 12:47] ilyalezhnev commented on #38
Hi, everyone! I have the same issue here. I am also using react-native-wifi-reborn. @arangu97 are you solve this problem?

[2020-10-01 08:43] AnkitBhushan788 opened #87 "Issue with Android 10 or Redmi devices which have android 8 or lower version."
in Android 10 i have an issue while connecting. Issue is:

1. It connect WiFi perfectly but when i close my app its automatically disconnect me with the network.
2. In Redmi Devices issue is it ask me to allow WiFi connection continuously and when i allow then still is ask me for permission.

[2020-10-08 02:25] fatbads commented on #13
There was an error loading the preference bundle for Wi-Fi: (null) I get this massages when I go in my wifi options and WiFi opinions don't show up can fix it NewTerm-ios10-13  commands

[2020-10-16 08:37] JavaDeveloper08 commented on #69
I have same problem, I didn't understand "remove feature". Please, would  you  give detail ?

[2020-10-28 11:56] JavaDeveloper08 opened #88 "Force Wifi network"
Hi,
How do I force Android to use wifi network instead of mobile network. I'm building an app that connects to a certain WiFi network that has no internet access. In some devices, beacuse of no internet access, device is connecting mobile data.

I would like to force certain Wifi Network.

Thank you.

[2020-10-28 12:02] ThanosFisherman commented on #88
Hi,

WiFiUtils does everything it can to shift the selected network to the highest priority. Other than that there is not much you can do since some devices decide to prioritize WiFi networks with better internet access and connect to them.

So it's a device specific thing.

[2020-10-28 12:06] ThanosFisherman commented on #53
This does not seem to relate to this library I need more info to be able to reproduce this issue. Please post steps to reproduce or a sample. I'm closing it for now.

[2020-10-28 12:06] #53 closed

[2020-10-28 12:10] ThanosFisherman commented on #87
Yes Xiaomi Redmi devices are quirky with regards to WiFi. I still do not know how to bypass those issues. There is a discussion about possible shortcomings on Redmi devices here #47

[2020-10-28 18:31] taddcrockett commented on #47
Same here. Galaxy S20 connecting to a device that doesn't have an internet connection with a specific ssid and password.

[2020-10-30 02:52] OneupLee commented on #47
I have found an application and it can easily connect to wifi on android 10 device.But I don't know how it work.
my device: realme x2 android 10 & teclast p20hd android 10
google play:  https://play.google.com/store/apps/details?id=com.halo.wifikey.wifilocating&hl=en
web site: https://en.wifi.com/

[2020-10-30 12:19] matdev opened #89 "Scanning for a WiFi network without internet access does not work on Android 10"
I try using the WifiUtils lib to scan for a specific Wifi Access Point which does not have internet access.

Using the lib's `scanWifi()` method and the ScanResult, it seems Wifi networks without internet access are never found.

Is there a lib setting to include such access point in the results ?

Is it a limitation of the lib or Android 10 ?

[2020-10-31 16:24] JavaDeveloper08 commented on #88
Thank you @ThanosFisherman I got it. But, How can i solve this problem by using other ways. Would you give alternative solving advice to me?

[2020-11-09 07:49] AnagramEngineering commented on #38
A tester reported a similar problem on an app we're developping.

Referring to the [chinese article](https://blog.csdn.net/u014632228/article/details/101207983) mentioned above, it seems that miui systems have a private permission (Enable/Disable WIFI) that seems to interfere and causes this behaviour. This is not happening on other Android 9/10/11 systems.

Changing the permission manually solves

[2020-11-09 13:20] demiantres opened #90 "Get current WiFi ssid"
Hi,

Is there a method for getting the currently connected SSID (without knowing the SSID beforehand)?

Thanks,

[2020-11-12 20:29] asantana48 commented on #90
I don't think it's in the library but you could do

WifiManager wifiManager = (WifiManager) context.getApplicationContext().getSystemService(Context.WIFI_SERVICE)
wifiManager.getConnectionInfo().getSSID()

[2020-11-12 21:07] asantana48 opened #91 "Suggestion: bind to WiFi network on lower SDK versions"
At the moment, WifiUtils only binds to WiFi networks on Android 10 so API calls are performed over the specified network. For non-Android 10, it seems sufficient most of the time to disable all other configurations and just enable the configuration we want. However, I've recently run into an issue with my coworker (OnePlus 5T, Android 8.1) on a where sometimes an API call will reach our hardware,

[2020-11-13 05:15] #90 closed

[2020-11-13 13:17] NizarETH commented on #89
Hey,
I gave an answer for your question in stackOverflow, but as you told me it's not working for now, google block target less 29.
If you find any workaround, ping me please.
thanks.

 [more details](https://developer.android.com/distribute/best-practices/develop/target-sdk#pre10)

[2020-11-16 12:38] hayuki commented on #47
About enabling/disabling Wifi through the library on Android 10 - I think because of the OS restrictions that have been put in place the best option would be to invoke a Settings panel:
[code]
What do you think?

[2020-11-16 19:42] eliaslecomte commented on #47
This is logic you want to add in your app :-). The library indicates wifi is off. You show this 'error state' and the user has to take action. You can add a button that then opens the Settings screen.

[2020-12-01 07:55] Minuit-Z opened #92 "You are using the incroect api on Android Q"
As [wifi-suggect](https://developer.android.google.cn/guide/topics/connectivity/wifi-suggest) said:

we can use `WifiNetworkSuggestion` api to connect wifi on Android Q+.
but I think it`s not friendly for developers .  we can just provider a suggestion to tell the system: I wanna  connect this ssid. Then the system would  receive it " at a right time " .

I tried this way many times , but this met

[2020-12-02 09:46] ThanosFisherman commented on #92
WiFiUtils is currently using the IoT API for connecting to wifi networks which limits the internet connectivity only to the app that requested it.

I haven't really studied the suggestion API yet but it seems like a good alternative although it might have its limitations as well. I think it's worth a try migrating to suggestion API once I get the hang of it.

[2020-12-15 01:37] Jasperben opened #95 "It is recommended to add the state of the connection process For example, authentication"

[2020-12-31 08:42] munavarhussainr opened #96 "Hidden network connection"
How to connect to a hidden network using this library

[2021-01-09 08:59] eFortsHub opened #97 "It does not support android 10."
It does not support android 10 even if the way to connect wifi in android 10 is very easy via specifier.

[2021-01-11 14:40] spurdow commented on #85
I didn't encountered this before and at that point in time I was using oracle JDK, now I'm using openJDK and I experienced this alot.

[2021-01-11 22:47] ThanosFisherman commented on #85
@spurdow make sure you are using the latest version.

[2021-01-16 08:40] debduttaVxplore opened #98 "Crash on trying to enable wifi"
[code]
//////////////////////////////////////////////////////////////////////////////////////
**java.lang.NoClassDefFoundError: Failed resolution of: Lcom/thanosfisherman/elvis/Elvis;
        at com.thanosfisherman.wifiutils.WifiUtils.enableWifi(WifiUtils.java:247)
        at com.vxplore.esp01.MainActivity.tryTurnOnWifi(MainActivity.java:271)**

[2021-01-16 12:25] ThanosFisherman commented on #98
Make sure you using the latest version of WifiUtils.

[2021-01-18 06:38] debduttaVxplore commented on #98
Okay, let me check version, but I think I have put latest version.

[2021-01-18 06:39] debduttaVxplore commented on #98
Yea, I used 1.6.4. Is this Ok?

[2021-01-18 09:28] ThanosFisherman commented on #98
Yes it's ok. This should not normally happen. I will have a look. In the meantime make sure you also include kotlin-stdlib-jdk8 dependency in your project.

[2021-02-01 07:36] Smartelic commented on #98
Hi Scan wifi also failing. I think it's due to one of your dependency is not synced with .aar file.  After including this "com.thanosfisherman.elvis:elvis:3.0" in gradle dependency it worked fine to me.

[2021-02-01 23:08] ThanosFisherman commented on #98
Can you please upgrade to version 1.6.5 and let me know whether elvis is now resolved without the need of including it as an extra dependency? It should work now either way.

[2021-02-03 07:13] Smartelic commented on #98
It is working now, thank you so much for quick update, and big thank you for the great library.

[2021-02-03 11:44] #98 closed

[2021-02-06 03:40] willpyshan13 commented on #26
i want to konw is this issue been solve?tks

[2021-02-15 13:54] swap9391 opened #99 "Remove callbacks after onAvailable"
Hi,
Trying to connect to wifi with scan result , got success. But the system generated popup to connect ssid repeatedly comes on screen even success.

can you add connectivityManager.unregisterNetworkCallback(this);
in onAvailable()

[2021-02-23 10:39] mackwu828 opened #100 "ANR"
1 android.os.BinderProxy.transactNative(Native Method)
--
2 android.os.BinderProxy.transact(Binder.java:764)
3 android.net.wifi.IWifiManager$Stub$Proxy.getConfiguredNetworks(IWifiManager.java:905)
4 android.net.wifi.WifiManager.getConfiguredNetworks(WifiManager.java:976)
5 com.thanosfisherman.wifiutils.ConnectorUtils.reEnableNetworkIfPossible(ConnectorUtils.java:434)
6 com.thanosfisherman.wifiutil

[2021-03-11 08:19] Minuit-Z commented on #96
you can find the right way in the rejected-PR

[2021-04-02 09:15] z3ntu commented on #69
I'm pretty sure this is meant: `WifiUtils.withContext(context).remove(ssid, listener)`
My use case is connecting temporarily to a WiFi to configure something on the WiFi and then disconnect, but just disconnecting made the phone reconnect immediately. Removing the WiFi is the proper solution for my use case.

[2021-04-07 09:04] magicjva commented on #97
it does not enable the wifi on above android 9

[2021-04-08 11:12] swap9391 opened #102 "Caused by: java.lang.IllegalArgumentException: passphrase not ASCII encodable"
**My Password was -  77×÷__€£×¥¥×#^#^#*#*#*#*dbdhdh **

Process: com.example.kohlerkonnect, PID: 30162
    java.lang.RuntimeException: Error receiving broadcast Intent { act=android.net.wifi.SCAN_RESULTS flg=0x4000010 (has extras) } in com.thanosfisherman.wifiutils.wifiScan.WifiScanReceiver@1fd37de
        at android.app.LoadedApk$ReceiverDispatcher$Args.lambda$getRunnable$0$LoadedApk$ReceiverDisp

[2021-04-08 18:29] AllenHuangBang opened #103 "About remove wifi saved"
Hi, I use remove and disconnect to disconnect wifi and remove wifi saved setting, but it's not work.
it's still reconnect automatically ...
How to remove wifi saved correctly?

[2021-05-03 07:59] #99 closed

[2021-05-03 08:01] swap9391 opened #104 "Elementary mark on WiFi after connection"
When i tried to connect i got Elementary mark on Wifi icon of status bar, that restrict me to proceed further using any internet dependant task.

[2021-05-03 13:44] ThanosFisherman commented on #104
For Android versions 10 and newer:* WiFiUtils is currently using the *Network request API* (IoT API) for connecting to wifi networks which scopes the internet connectivity only to the app that requested it. There are plans to support WiFI Suggestion API in the future which overcomes this issue. For further info read the official docs [here](https://developer.android.com/guide/topics/connectivity/w

[2021-05-03 13:44] #104 closed

[2021-05-06 14:33] Xujun770366270 opened #105 "I can’t connect to the internet"
I use wifiUtils to switch wifi and I can’t connect to the internet, test you demo

[2021-05-07 13:38] ThanosFisherman commented on #105
*For Android versions 10 and newer:* WiFiUtils is currently using the *Network request API* (IoT API) for connecting to wifi networks which scopes the internet connectivity only to the app that requested it. There are plans to support WiFI Suggestion API in the future which overcomes this issue. For further info read the official docs [here](https://developer.android.com/guide/topics/connectivity/

[2021-05-07 13:38] #105 closed

[2021-05-17 13:27] o0daxu0o opened #106 "WifiUtils.withContext(context) .remove(SSID, object : RemoveSuccessListener ) Method will have a null pointer"
The error is as follows：（It should be to get the wifi configuration null pointer）

java.lang.NullPointerException: Attempt to invoke interface method 'java.util.Iterator java.util.List.iterator()' on a null object reference
        at com.thanosfisherman.wifiutils.ConfigSecurities.getWifiConfiguration(ConfigSecurities.java:171)
        at com.thanosfisherman.wifiutils.ConnectorUtils.removeWifi(Con

[2021-06-09 01:18] johncyuan opened #107 "Migrate to other services"
jcenter is about to stop service, can it be migrated to other services? thks

[2021-06-09 10:29] ThanosFisherman commented on #107
Will migrate to Maven Central as soon as I find some time.

[2021-06-16 09:29] ALuoBo opened #108 "Does this util have some way to judgment scan success or fail?"
Android api told scanWifi maybe failed , and this time will return old scan result  , So does this util have some way to judgment scan success or fail? : )?

[2021-06-17 02:42] ALuoBo commented on #108
PS：
- boolean scanStartSuccess = wifiManager.startScan();// scanStartSuccess
- boolean scanSuccess = intent.getBooleanExtra( WifiManager.EXTRA_RESULTS_UPDATED, false);

[2021-07-08 10:44] xumengyin opened #109 "when I connect the network , WifiUtils will scan the wifis"
hi Guy ，thanks you Lib，but I have question.when  I connect  the network , WifiUtils will scan the wifis ,but Android has restrictions on scanning wifi, So I can not connect the netWork because scan wifi failed . So myQuestion is  it necessary to scan wifi for connect Network

[2021-07-15 07:41] eggysudianto opened #110 "error when connect use bssid"
when I use ssid can connect to wifi, but when I add bssid return error DID_NOT_FIND_NETWORK_BY_SCANNING. how to fix that?

[code]

[2021-07-31 16:20] rlesniak opened #111 "Add prefix connection"
Simple request, would be great if you could add method to connect with WiFi based on its prefix. For example, connect with wifi which starts `mydongle-` and real SSID is `mydongle-r4329`. Protected and unprotected. Api here https://developer.android.com/reference/android/net/wifi/WifiNetworkSpecifier.Builder#setSsidPattern(android.os.PatternMatcher)

[2021-08-07 12:27] ThanosFisherman commented on #109
Hello,

At the moment WiFIUtils performs a scan before connecting to a wifi and there is currently no way to override this behavior.

This was a design choice back in the day when android wouldn't impose throttling on wifi scanning.

It is a good idea to deprecate that behavior now. Hopefully I will get around to it as soon as I find some time.

[2021-09-02 12:23] mhdshah opened #113 "Android 10 - Something came up. The application has cancelled the request to choose a device."
After 15 seconds of the timeout, the error message is shown "Something came up. The application has cancelled the request to choose a device" in the app. How to resolve this issue?

private fun connectHidden(context: Context) {
        WifiUtils.withContext(context)
                .connectWith(textview_ssid.text.toString(), textview_password.text.toString(),TypeEnum.EAP)
                .setTimeo

[2021-09-09 02:58] willpyshan13 opened #114 "when i connect to a network it tele me timeout but connect success"

[2021-09-09 10:21] willpyshan13 commented on #114
in  WifiConnectionReceiver

switch (state) {
                    case COMPLETED:
                    case FOUR_WAY_HANDSHAKE:
                             //is it need to check  if mScanResult  is not empty it have a ssid and you can check the connect status? like this:
                            // boolean isConnectWithResult = mScanResult!=null&&isAlreadyConnected2(mWifiManager,mScanResult.SSID

[2021-09-16 09:34] eliaslecomte opened #115 "Publish WifiUtils on Maven Central"
jCenter is sunsetting soon. Have steps been taken to publish this repo on Maven Central?

[2021-09-16 10:52] ThanosFisherman commented on #115
Hey Elias,

It's already in the works :) I just need to find some extra time to deal with some nasty Gradle bugs I ran into.

[2021-09-24 14:32] ThanosFisherman commented on #115
And we are up and running on maven central :D

[2021-09-24 15:01] #107 closed

[2021-09-26 13:26] #115 closed

[2021-10-29 14:53] JWF-Spiria opened #116 "Android 11 - Sometimes the network I want to connect is not found"
On Android 11, Galaxy A12, the network I want to connect to is not found in the scanning process. I see it in my phone WiFi settings but in the app using the scanning method it is not found. Some other times, the app found the network and is able to connect to it. Anyone else have this problem?

[2021-11-08 20:53] fernando-s97 opened #117 "Android 9 Throttling"
![image](https://user-images.githubusercontent.com/20338690/140816186-96c7b06a-82d2-45f2-90d7-1a8d43a3d6ca.png)

In Android 9, when I execute the code below 5 times , in the 5th attempt, I won't be able to connect. That's because every time I make a connection, a scan is triggered. Why's that? Is it really necessary?

[code]

[2021-11-08 20:54] #117 closed

[2021-11-08 20:56] fernando-s97 opened #118 "Android 9 throttling"
![image](https://user-images.githubusercontent.com/20338690/140816186-96c7b06a-82d2-45f2-90d7-1a8d43a3d6ca.png)

In Android 9, when I execute the code below 5 times , in the 5th attempt, I won't be able to connect. That's because every time I make a connection, a scan is triggered. Why's that? Is it really necessary?

[code]

[2021-11-08 21:20] ThanosFisherman commented on #118
Hello,

At the moment WiFIUtils indeed performs a scan before connecting to a wifi and there is currently no way to override this behavior.

This was a design choice back in the day when android wouldn't impose throttling on wifi scanning.

It is a good idea to deprecate that behavior now. Hopefully I will get around to it as soon as I find some time. Pull requests are also welcome.

[2021-11-09 02:21] fernando-s97 commented on #118
Got it! I'll see if I can work on that and make a PR

[2021-11-23 06:46] fernando-s97 commented on #113
AFAIK that's not an issue. That's how Android works after the timeout time is reached

[2021-11-23 19:19] fernando-s97 commented on #22
My guess is: the lib always perform a scan before connecting to a network, and scan needs location permission, therefore I imagine that android indeed uses the user location for that purpose, but if the gps is disable, it may not be able to perform the scan

[2021-12-03 05:24] swap9391 opened #120 "Android should improve"
I want your opinion on this particular feature of connecting wifi with SSID , Don't you think Android made these WifiNetworkSuggestion and WifiNetworkSpecifier complicated for developers. If they are giving an option for deprecation that option should be robust and work for all API level.

[2021-12-06 13:36] s0641 opened #121 "Android 10 not working"
I imported this dependency
dependencies {
       implementation("io.github.thanosfisherman.wifiutils:wifiutils:1.6.6")
    }

then I used this
WifiUtils.withContext(getApplicationContext()).enableWifi();

But when I am running It is showing that wifi is enabled but it is not happening in my device.
Please tell me

[2021-12-06 22:06] ansuman87 commented on #109
Hi @ThanosFisherman ,
Does that mean neither the wifi-scan function nor connecting to a network(for known SSIDs) function will work on Android 10? Basically, is this library not suitable for Android 10? I have throttling wifi scans disabled on my Android and still it's not working.

Thank you!

[2021-12-07 20:12] ansuman87 commented on #47
I tried it on my Android 10 device and I get zero scanResults.

[2022-01-13 00:50] vhernandezvitu opened #122 "The library seems to be only on jcenter"
Since jcenter is down people who use the library cannot build their projects, the library must be on mavencentral.

[2022-01-13 09:22] ThanosFisherman commented on #122
It is on maven central already. Check the docs

[2022-01-13 09:22] #122 closed

[2022-01-29 13:40] ansuman87 commented on #118
Is it not possible to use the old scan results instead of scanning all the time? I mean if the scan fails then provide the old scan results. This is what the official document says, how to perform a network scan.

[2022-02-03 07:10] vanenshi commented on #118
any progress yet?

[2022-02-03 13:30] fernando-s97 commented on #118
@vanenshi I ended up not being to take a look at it, and I think I won't be to do it in the next 1 or 2 months :/

[2022-02-11 14:35] alexp-0112 opened #123 "I have connect to specific network but Wi-Fi icon show disconnected cross sign and Wi-Fi is connected"
I have add your dependency and try to connect my Wi-Fi but problem is there Wi-Fi is connected but Wi-Fi icon shows to disconnected I mean Wi-Fi icon show gray out with cross icon.

I have test on android 10 Motorola one fusion plus

[2022-05-03 09:28] aswallz opened #125 "does it work on android"

[2022-05-10 08:20] deng-yc commented on #114
Same problem， My WiFi doesn't have the Internet

[2022-05-16 04:29] deng-yc commented on #114
My WIFI is enabled SSID converge.  2.4GHz and 5GHz have the same SSID

[2022-05-27 04:13] RANZN opened #126 "Connected to device but with no internet"
Showing connected to device via my applicatoin/ low quality at wifi settings on the wifi which want to connect and internet not working on  A11

[2022-05-27 14:19] miller8 commented on #38
Why disableAllButOne

[2022-06-10 04:48] Kobanister commented on #116
+1

[2022-06-10 09:53] ThanosFisherman commented on #121
Addressed in https://github.com/ThanosFisherman/WifiUtils/pull/124

[2022-06-10 09:53] #121 closed

[2022-08-26 04:28] noumanzoobiapps commented on #123
ANDROID_10_IMMEDIATELY_DROPPED_CONNECTION

this is error shown in android 10 ,11,12 devices

[2022-08-26 04:29] noumanzoobiapps opened #129 "ANDROID_10_IMMEDIATELY_DROPPED_CONNECTION"
this error occur android 10,11,12 version

[2022-09-28 19:43] RUHULRUHUL commented on #110
"C3:AE:34:48:E8:02" maybe it is a Static value make sure your device mac Address (Bssid)

[2022-10-07 17:27] nidhibhatt3790 commented on #126
Same issue happened when I pull code.